<div class="container-fluid">
  <div class="row">
    <%= render "layouts/sidebar" %>
    <main class="col-sm-9 col-md-10">
      <h1><%= @collection.title %></h1>
      <p><%= button_to("download", user_collection_download_path(@user, @collection), data: {confirm: "Download " + collection_size(@collection.id, @user) + "?" }) %></p>
      <%= link_to 'Back', current_user %>
    </main>
  </div>
</div>
