<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <div style="background-color:LightGray; width: 100%; margin: auto;">
      <%= image_tag attachments['AUK-Logo-full.png'].url, alt: 'Archives Unleashed Logo', class: 'photo', style: 'display: block; margin-left: auto; margin-right: auto; padding-top: 50px; padding-bottom: 50px; text-align: center;' -%>
    </div>
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>
    <p>Your Archives Unleashed Cloud job has finished,
    and is available at: <%= link_to(user_collection_url(@user, @collection), user_collection_url(@user, @collection)) %><br>
    </p>
    <p>Thanks for using the Archives Unleashed Cloud, and have a great day!</p>
  </body>
  </br>
  <footer style="background-color:LightGray; text-align: center;">
      <p>
        <a href="http://archivesunleashed.org">archivesunleashed.org</a> | 
        <a href="https://twitter.com/unleasharchives">@unleasharchives</a> | 
        <a href="https://github.com/archivesunleashed">Archives Unleashed GitHub</a>
      </p>
  </footer>
</html>
