<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.name %></h1>
    <p>
      Your Archives Unleashed Cloud job has finished,
      and is available at: http://cloud.archivesunleashed.org.<br>
    </p>
    <p>Thanks for using the Archives Unleashed Cloud, and have a great day!</p>
  </body>
</html>
