<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.name %></h1>
    <p>
      <%= @collection.title %> has been downloaded, and analysis will now begin. Look out for another email from us soon!<br>
    </p>
    <p>Thanks for using the Archives Unleashed Cloud, and have a great day!</p>
  </body>
</html>
