<% provide(:title, 'About') %>
<div class="container">
<h1>About</h1>
<p><i>Helping researchers and scholars access and analyze petabytes of historical internet content.</i></p>

<h3 style="border-radius: 5px;border: 2px solid grey; max-width: 98%; background-color: #D3D3D3; padding-left: 10px">Project Overview</h3>
  <p style="padding-left: 20px">The Archives Unleashed Cloud, referred to as AUK, is an open source cloud-based analysis tool that helps researchers and scholars conduct web archive analysis. </p>
  <p style="padding-left: 20px">AUK is a component of the <a href="http://archivesunleashed.org">Archives Unleashed Project</a>, which aims to allow researchers, scholars, librarians and archivists the ability to access and investigate their web archival collections. As accessibility is a main priority of the project, AUK supports this goal by providing a web-based front end for users to access the <a href="http://archivesunleashed.org/aut/">Archives Unleashed Toolkit</a>.</p>

<h3 style="border-radius: 5px;border: 2px solid grey; max-width: 98%; background-color: #D3D3D3;padding-left: 10px">What is Web Archiving, what are WARCS and why should I care? </h3>
  <p style="padding-left: 20px"><b>Web archiving</b> is the process of preserving born-digital content on the World Wide Web. Thinking about how curated content is organized, there are two main components:
    <ul>
      <li><b>WARCs (Web ARChive)</b>: the <a href="https://www.iso.org/obp/ui/#iso:std:iso:28500:ed-2:v1:en"> ISO Standard (28500:2017) </a> file format that will house one or more WARC records. </li>
      <li><b>WARC record</b>: contains all of the data of a webpage and contains a record header and the record content block.  </li>
    </ul> 
  <p style="padding-left: 20px">The exponential rise of digitally-born data offers a unique opportunity for scholarly inquiry. However the sheer scale of web archives can be an overwhelming process for librarians, archivists, and other curators who face several challenges when working with this material. One of the largest challenges relates to accessibility. This includes a shortage of tools or tools that are largely beyond the skill base of researchers, as well as institutions with limited resources to facilitate long-term web archiving research. 
  <p style="padding-left: 20px">The Archives Unleashed Project was born out of the need to create accessible and user-friendly tools in order to work with web archives. As a web-based interface, AUK allows researchers an opportunity to handle and analyze web archives without having to spend time delving into the technical world. 

<h3 style="border-radius: 5px;border: 2px solid grey; max-width: 98%; background-color: #D3D3D3;padding-left: 10px">How can I use AUK?</h3></h3>
  <p style="padding-left: 20px">We are currently working to improve our documentation section, please check back shortly.</p>
  <p style="padding-left: 20px"> 
  <p style="padding-left: 20px">

<h3 style="border-radius: 5px;border: 2px solid grey; max-width: 98%; background-color: #D3D3D3; padding-left: 10px">Who can use AUK?</h3>
  <p style="padding-left: 20px">Currently, those who maintain an <a href="https://archive-it.org"> Archive-It </a> account will be able to ingest, download, and analyze their web archives collections in AUK. The AUT team is looking at ways to expand future functionality of AUK users.</p>

<h3 style="border-radius: 5px;border: 2px solid grey; max-width: 98%; background-color: #D3D3D3; padding-left: 10px">What can I do in AUK?</h3>
  <p style="padding-left: 20px">Our goal is to get users to a point where they can really dig down into WARC files to explore their research questions. The core features of AUK include: 
    <ul>
      <li><strong>Ingesting Archive-It collections</strong> via <a href="https://github.com/WASAPI-Community/data-transfer-apis">WASAPI</a></li>
      <li><strong>Download collection derivatives</strong>: network files, domain lists, and full text</li>
      <li><strong>In-browser network diagram</strong> to see major nodes and connections within your collection.</li>
    </ul>

<h3 style="border-radius: 5px;border: 2px solid grey; max-width: 98%; background-color: #D3D3D3; padding-left: 10px">Who Created AUK?</h3>
  <p style="padding-left: 20px">A digital librarian, historian, and computer science professor met for coffee....well there is a little more to that. </p>
  <p style="padding-left: 20px">We are very lucky to have some very talented and passionate individuals usher the Archives Unleashed Project and AUK into existence.</p>
    <ul>
      <li><b>Nick Ruest</b>, Co-Investigator and AUK Lead</li>
      <li><b>Ian Milligan</b>, Primary Investigator and AUK Developer</li>
      <li><b>Jimmy Lin</b>, Co-Investigator and AUK Developer</li>
      <li><b>Samantha Fritz</b>, Project Manager</li>
      <li><b>Ryan Deschamps</b>, AUK Tester and GraphPass Developer</li>
    </ul>

  <p style="padding-left: 20px">We would also like to acknowledge the groups and individuals who have inspired and informed our work:</p> 
    <ul>
      <li><a href="http://webarchives.ca">Web Archives for Longitudinal Knowledge (WALK) Portal</a></li>
      <li><a href="http://projectblacklight.org">Project Blacklight</a></li>
      <li><a href="https://www.docnow.io">Documenting the Now</a></li>
      <li><a href="https://webrecorder.io">Webrecorder.io</a></li>
      <li><a href="https://archive.org">Internet Archive</a></li>
    </ul>

<h3 style="border-radius: 5px;border: 2px solid grey; max-width: 98%; background-color: #D3D3D3; padding-left: 10px">How much does AUK cost to use?</h3>
  <p style="padding-left: 20px">The Archives Unleashed Cloud is currently <strong>free</strong>. Yep, you heard right! The generous support from the <a href="https://mellon.org"> Andrew W. Mellon Foundation </a> foundation and contributions from our team, developers, and community have made this possible. We will keep our users and community updated as we move towards a sustainable future.</p>

<h3 style="border-radius: 5px;border: 2px solid grey; max-width: 98%; background-color: #D3D3D3; padding-left: 10px">Who funds the Archives Unleashed Cloud?</h3>
  <p style="padding-left: 20px">This work is primarily supported by the <a href="https://mellon.org/"> Andrew W. Mellon Foundation</a>, the <a href="http://uwaterloo.ca">University of Waterloo</a>, and <a href="https://www.library.yorku.ca/web/">York University Libraries</a>.</p>
  <p style="padding-left: 20px">Other financial and in-kind support comes from the <a href="http://www.sshrc-crsh.gc.ca">Social Sciences and Humanities Research Council</a>, <a href="https://www.computecanada.ca">Compute Canada</a>, the <a href="https://www.ontario.ca/page/ministry-research-innovation-and-science">Ontario Ministry of Research, Innovation, and Science</a>, and <a href="http://www.startsmartlabs.com">Start Smart Labs</a>.</p>
</div>

<footer class="about-footer">
  <div class="container text-center">
    <span class="text-muted">
      <%= image_tag("mellon.png", alt: "Andrew W. Mellon Foundation", class:"footer_img") %>
      <%= image_tag("waterloo.png", alt: "University of Waterloo", class:"footer_img") %>
      <%= image_tag("york.png", alt: "York University", class:"footer_img") %>
      <p>For more information on our project and sponsors, visit <a href="http://archivesunleashed.org/">archivesunleashed.org.</a></p>
    </span>
  </div>
</footer>
