<% provide(:title, 'About') %>
<div class="container">
  <h1>About</h1>
</div>
<footer class="footer">
  <div class="container text-center">
    <span class="text-muted">
      <%= image_tag("mellon.png", alt: "Andrew W. Mellon Foundation", class:"footer_img") %>
      <%= image_tag("waterloo.png", alt: "University of Waterloo", class:"footer_img") %>
      <%= image_tag("york.png", alt: "York University", class:"footer_img") %>
      <p>For more information on our project and sponsors, visit <a href="http://archivesunleashed.org/">archivesunleashed.org.</a></p>
    </span>
  </div>
</footer>
