<% provide(:title, 'Derivatives') %>

<% cache do %>
<div class="container">
  <h1 class="about_h1">Using the Archives Unleashed Cloud Derivative Files</h1>
  <h3 class="about_h3">What are derivative files?</h3>
    <p class="about_p">One of the main features of the Archives Unleashed Cloud is the creation of <strong>derivative files</strong>. These are datasets that provide information abotu your web archives and that can be used by researchers in place of the original WARC files.</p>
    <p class="about_p">These derivatives include the following files:</p>
    <ul class="about_ul">
      <li class="about_li"><strong>Gephi</strong> file, which can be loaded into <a href="https://gephi.org/" target="_blank">Gephi</a>. It will have basic characteristics already computed and a basic layout.</li>
      <li class="about_li"><strong>Raw Network</strong> file, which can also be loaded into <a href="https://gephi.org/" target="_blank">Gephi</a>. You will have to use that network program to lay it out yourself.</li>
      <li class="about_li"><strong>Domains</strong> file will be a CSV file containing the frequency of domains found within your web archive.</li>
      <li class="about_li"><strong>Full Text</strong> file will be a large text file containing the extracted plain text of all the HTML files found within a collection. You might want to try loading it into a visualization platform like <a href="http://voyant-tools.org/" target="_blank">Voyant Tools</a> to see patterns and trends within your web archive.
    </ul>
  <p class="about_p">You can find these files after running analytics on a collection, as discussed in the <a href="/documentation">AUK documentation</a>. There will be a series of four buttons on your collections page, highlighted below:</p>
  <%= image_tag("Derivatives_highlighted.png", alt: "Derivatives highlighted", class:"body_img")%>
  <h3 class="about_h3">How do I use the Gephi or Raw Network file?</h3>
  <p class="about_p">When using the web as a historical source, the ability to see the way websites link to each other can be invaluable. However, using network analysis in historical research can also be a daunting prospect. To learn how to use these files, read <%=link_to("Network Graphing Archived Websites With Gephi", "/gephi")%>.</p>
  <h3 class="about_h3">How do I use the plain text file?</h3>
  <p class="about_p">text analysis content here</p>
  <h3 class="about_h3">How do I use the domains file?</h3>
  <p class="about_p">domains file content here</p>


</div>
<% end %>
