<div class="container-fluid">
  <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("image_01.png", class: "d-block w-100 homepage-img") %>
      </div>
      <div class="carousel-item">
        <%= image_tag("image_02.png", class: "d-block w-100 homepage-img") %>
      </div>
      <div class="carousel-item">
        <%= image_tag("image_03.png", class: "d-block w-100 homepage-img") %>
      </div>
    </div>
  </div>
</div>
