<div id="homepage" class="inner cover">
  <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner align-middle">
      <div class="carousel-item active fill">
        <%= image_tag("image_01.png", class: "homepage_carousel") %>
      </div>
      <div class="carousel-item fill">
        <%= image_tag("image_02.png", class: "homepage_carousel") %>
      </div>
      <div class="carousel-item fill">
        <%= image_tag("image_03.png", class: "homepage_carousel") %>
      </div>
    </div>
  </div>
</div>
