# Add configuration values here, as shown below.
#
# pusher_app_id: "2954"
# pusher_key: 7381a978f7dd7f9a1117
# pusher_secret: abdc3b896a0ffb85d373
# stripe_api_key: sk_test_2J0l093xOyW72XUYJHE4Dv2r
# stripe_publishable_key: pk_test_ro9jV5SNwGb1yYlQfzG17LHK
#
# production:
#   stripe_api_key: sk_live_EeHnL644i6zo4Iyq4v1KdV9H
#   stripe_publishable_key: pk_live_9lcthxpSIHbGwmdO941O1XVU
AUT_VERSION: "0.18.0"
BASE_HOSTNAME: "cloud.archivesunleashed.org" #if in development mode: localhost:3000
BASE_HOST_URL: "https://cloud.archivesunleashed.org" #if in development mode: http://localhost:3000
DASHBOARD_PASS: "test"
DASHBOARD_USER: "test"
DJW_PASSWORD: "some password"
DJW_USERNAME: "some user"
DOWNLOAD_PATH: "tests/fixtures/files" #"/path/to/somewhere"
EMAIL_DOMAIN: "something.ca"
EMAIL_PASSWORD: "somepassword"
EMAIL_SERVER_NAME: "smtp.something.ca"
EMAIL_USERNAME: "someuser"
GITHUB_KEY: "SOME KEY"
GITHUB_SECRET: "SOME SECRET"
GRAPHPASS: "/path/to/graphpass/directory/graphpass"
SLACK_WEBHOOK_URL: "https://hooks.slack.com/services/SOME/IDENTIFER" #https://slack.com/apps/A0F7XDUAZ-incoming-webhooks
SPARK_DRIVER_MAXRESULTSIZE: "4G"
SPARK_HEARTBEAT_INTERVAL: "600s"
SPARK_KRYOSERIALIZER_BUFFER_MAX: "2000m" #spark.kryoserializer.buffer.max must be less than 2048 mb
SPARK_MEMORY_DRIVER: "5G"
SPARK_NETWORK_TIMEOUT: "10000000"
SPARK_RDD_COMPRESS: "true"
SPARK_SERIALIZER: "org.apache.spark.serializer.KryoSerializer"
SPARK_SHELL: "/path/to/spark/bin/spark-shell"
SPARK_SHUFFLE_COMPRESS: "true"
SPARK_THREADS: "*"
TWITTER_KEY: "SOME KEY"
TWITTER_SECRET: "SOME SECRET"
WASAPI_KEY: "32BITKEY SecureRandom.random_bytes(32)"

production:
  SECRET_KEY_BASE: "some secret key base"
  PG_USER: "username"
  PG_PASSWORD: "password"
