# Add configuration values here, as shown below.
#
# pusher_app_id: "2954"
# pusher_key: 7381a978f7dd7f9a1117
# pusher_secret: abdc3b896a0ffb85d373
# stripe_api_key: sk_test_2J0l093xOyW72XUYJHE4Dv2r
# stripe_publishable_key: pk_test_ro9jV5SNwGb1yYlQfzG17LHK
#
# production:
#   stripe_api_key: sk_live_EeHnL644i6zo4Iyq4v1KdV9H
#   stripe_publishable_key: pk_live_9lcthxpSIHbGwmdO941O1XVU
twitter_key: SOME KEY
twitter_secret: SOME SECRET
github_key: SOME KEY
github_secret: SOME SECRET
wasapi_key: 32BITKEY SecureRandom.random_bytes(32)
download_path: /path/to/somewhere
spark_shell: /path/to/spark/bin/spark-shell
spark_memory_driver: 5G
spark_network_timeout: 10000000
aut_version: 0.12.2

production:
  SECRET_KEY_BASE: some secret key base
  PG_USER: username
  PG_PASSWORD: password
  EMAIL_SERVER_NAME: smtp.something.ca
  EMAIL_DOMAIN: something.ca
  EMAIL_USERNAME: someuser
  EMAIL_PASSWORD: somepassword
