<% provide(:title, 'AUK Dashboard') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h1 class="card-header"><%= link_to('Jobs', '/dashboards/jobs') %></h1>
    </div>
    <div class="col-sm">
      <h1 class="card-header"><%= link_to('Stats', '/dashboards/stats') %></h1>
    </div>
    <div class="col-sm">
      <h1 class="card-header"><%= link_to('Graphs', '/dashboards/graphs') %></h1>
    </div>
  </div>
  <div class="row">
    <%= image_tag("https://camo.githubusercontent.com/148a43ac461f352346f8cd894af8bb5845a831fb/68747470733a2f2f7777772e6f6c64626f6f6b696c6c757374726174696f6e732e636f6d2f77702d636f6e74656e742f686967682d7265732f313836372f6772616e6476696c6c652d61756b2d313630302e6a7067", class: "mx-auto d-block img-fluid") %>
  </div>
</div>
