<footer class="footer">
	<div class="container text-center">
    <span class="text-muted">
      <%= image_tag("mellon.png", alt: "Andrew W. Mellon Foundation", class:"footer_img") %>
      <%= image_tag("waterloo.png", alt: "University of Waterloo", class:"footer_img") %>
      <%= image_tag("york.png", alt: "York University", class:"footer_img") %>
		</span>
	</div>
</footer>
