<footer class="footer">
	<div class="container">
		<span class="text-muted">
      <p class="align-middle text-center">This work is primarily supported by the <a href="https://uwaterloo.ca/arts/news/multidisciplinary-project-will-help-historians-unlock">Andrew W. Mellon Foundation</a>.</p>
      <p class="align-middle text-center">Any opinions, findings, and conclusions or recommendations expressed are those of the researchers and do not necessarily reflect the views of the sponsors.</p>
		</span>
	</div>
</footer>
