<footer class="footer">
	<div class="container text-center">
    <span class="text-muted">
   	<p>This work is primarily supported by the <a href="https://uwaterloo.ca/arts/news/multidisciplinary-project-will-help-historians-unlock">Andrew W. Mellon Foundation</a>, as well as the <a href="https://uwaterloo.ca/">University of Waterloo</a> and <a href="https://www.library.yorku.ca/web/">York University Libraries</a>.</p>
      <%= image_tag("mellon.png", alt: "Andrew W. Mellon Foundation", class:"footer_img") %>
      <%= image_tag("waterloo.png", alt: "University of Waterloo", class:"footer_img") %>
      <%= image_tag("york.png", alt: "York University", class:"footer_img") %>
	</span>
	</div>
</footer>
