<nav class="navbar" style="background-color: black; margin-bottom: 10px;">
  <a class="navbar-brand" href="/" style="color: white; font-size: x-large;"><img alt="Brand" src="/assets/logo.png" height="40px" > Archives Unleashed Cloud</a>
  <span class="navbar-right">
    <% if current_user %>
      <%= link_to current_user.name, current_user, style: 'color: white; font-size: x-large; padding-right: 5px;' %>
      <%= link_to '<i class="fa fa-sign-out fa-2x" style="color: white;"></i>'.html_safe, logout_path, method: :delete %>
    <% else %>
      <span style="font-size: large; color: white; padding-right: 5px;">Sign in with: </span>
      <%= link_to '<i class="fa fa-twitter fa-2x" style="color: white; padding-right: 10px;"></i>'.html_safe, "/auth/twitter" %>
      <%= link_to '<i class="fa fa-github fa-2x" style="color: white;"></i>'.html_safe, "/auth/github" %>
    <% end %>
  </span>
</nav>
